<header id="hero">
	<div class="container-fluid h-100">
		<div id="hero-bg" class="svg-container h-100 w-100">
			<canvas id="hero-canvas" aria-hidden="true"></canvas>
			<div class="container-fluid header-info-container row">
				<div class="col-md-6">

				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 align-self-center">
					<h1>Symbolic Regression</h1>
					<h3>Explore the power of symbolic regression and equation discovery.
					</h3>
					<a href="#info" class="btn btn-fat btn-light">
						Explore
					</a>
				</div>
			</div>
		</div>
	</div>
</header>