
{% if page.url == "/" %}
    {% capture ishome %}true{% endcapture %}
{% endif %}
{% if page.url == "/book/" %}
    {% capture isbook %}true{% endcapture %}
{% endif %}


{%if ishome or isbook %}
<nav id="main-nav" class="navbar fixed-top navbar-expand-md navbar-top my-nav">
{% else %}
<nav id="main-nav" class="navbar fixed-top navbar-expand-md navbar-top my-nav nav-page">
{% endif %}
   <div class="container-fluid">
      <div class="brand-container">
         <a href="/" class="navbar-brand nav-home-brand">LOGO</a>
      </div>

      <button type="button" class="navbar-toggler pull-right" data-bs-toggle="collapse"
         data-bs-target="#navbarCollapse">
         <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
         {% for nav_item in site.data.nav.MainNav %}
             {% if nav_item.hardlink %}
                 {% capture baseurl %}/{% endcapture %}            
             {% else %}
                 {% capture baseurl %}{% endcapture %}
             {% endif %}
             {% if ishome and forloop.first %}
                 <a href="{{baseurl}}/#{{nav_item.item}}" class="nav-item nav-link">{{nav_item.name["en"]}}</a>
             {% else %}
                 <a href="{{baseurl}}{{nav_item.link}}" class="nav-item nav-link">{{nav_item.name["en"]}}</a>
             {% endif %}    
         {% endfor %}
     </div>
   </div>
</nav>