*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: $base-font-family;
   font-size: $base-font-size;
   color: $base-text-color;
   background: $base-bg;
   overflow-x: hidden;
}

a {
   color: $brand-primary;
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

.h1, .h2, .h3, h1, h2, h3 {
   margin-top: 20px;
   margin-bottom: 20px;
}

p {
   line-height: 1.5;
   padding:0;
   font-size:1rem;
   margin-bottom: 20px;
}

.text-right {
   text-align: right;
 }

 .text-justify {
   text-align: justify;
 }

 section.pad{
   padding-top:30px;
   padding-bottom:30px;
 }

 .h-100{
   min-height:100%;
 }

 .btn {
   border-radius: 0;
   text-transform: uppercase;
   font-family: $base-font-family;
   font-weight:700;
   color:$base-text-color-light;
   transition: all 0.3s;
 }

 .btn-slim-primary:hover {
   border:2px solid;
 }

 .btn-fat-primary:hover {
  border:5px solid;
}

 .btn-xl{
   padding:15px;
 }

 .btn-slim-primary {
   border:2px solid #fff;
   background-color: inherit;
 }

 .btn-fat-primary {
  border:5px solid #fff;
  background-color: inherit;
  font-weight:900;
  font-size:1.2rem;
 }

 .btn-fat-primary:hover {
  border:5px solid #fff;
  background-color: inherit;
  font-weight:900;
  font-size:1.2rem;
  text-decoration: underline;
  text-decoration-thickness: 0.3rem;
 }

 .arrow {
  cursor: pointer;
  height: 50px;
  left: 50%;
  position: relative;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition: transform .1s;
  width: 40px;

  $transition-time: .15s;

  &-top,
  &-bottom {
    background-color: #fff;
    height: 4px;
    left: -5px;
    position: absolute;
    top: 50%;
    width: 100%;

    &:after {
      background-color: #eee;
      content: '';
      height: 100%;
      position: absolute;
      top: 0;
      transition: all $transition-time;
    }
  }

  &-top {
    transform: rotate(135deg);
    transform-origin: bottom right;

    &:after {
      left: 100%;
      right: 0;
      transition-delay: 0s;
    }
  }

  &-bottom {

    transform-origin: right bottom;
    transform: rotate(45deg);
    &:after {
      left: 0;
      right: 100%;
      transition-delay: $transition-time;
    }
  }

  &:hover & {

    &-top:after {
      left: 0;
      transition-delay: $transition-time;
    }

    &-bottom:after {
      right: 0;
      transition-delay: 0s;
    }
  }

  &:active {
    transform: translateX(-50%) translateY(-50%) scale(0.9);
  }
}
