*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: $base-font-family;
   font-size: $base-font-size;
   color: $base-text-color;
   background: $base-bg;
   overflow-x: hidden;
}

a {
   color: $brand-primary;
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

.h1, .h2, .h3, h1, h2, h3 {
   margin-top: 20px;
   margin-bottom: 20px;
}

h2.section-header {
  font-weight:700;
  color:$brand-secondary;
}

h3.section-subheading {
  font-size: 1.4rem;
}

section {
  padding: 65px 0px 45px 0px;
}

p {
   line-height: 1.5;
   padding:0;
   font-size:1rem;
   margin-bottom: 20px;
}

.text-right {
   text-align: right;
 }

 .text-justify {
   text-align: justify;
 }

 section.pad{
   padding-top:30px;
   padding-bottom:30px;
 }

 .bg-light-grey {
  background-color: $brand-background-light-grey;
 }

 .bg-brand-secondary{
  background-color: $brand-secondary;
  color:#fff;

  h2.section-header{
    color:#fff;
  }
 }

 .h-100{
   min-height:100%;
 }

.btn {
  display:inline-block;
  padding: 0.5rem 1rem;
  border-radius: 0;
  text-transform: uppercase;
  font-family: $base-font-family;
  font-weight:500;
  color:$base-text-color-light;
  transition: all 0.5s;
  border:2px solid #fff;
}

.btn-fat {
  font-weight:700;
  padding: 1rem 1.5rem;
  border:5px solid;
}

.btn-slim {
  font-weight:500;
  border:2px solid;
}

.btn-primary {
  border-color: $brand-primary;
  background-color: rgba($brand-primary, 0.7);
  color: rgba(255, 255, 255, 0.7);
}

.btn-primary:hover{
  border-color: $brand-primary;
  background-color: rgba($brand-primary, 1);
  color: rgba(255, 255, 255, 1);
}

.btn-light {
  border-color: #fff;
  background-color: inherit;
  color: rgba(255, 255, 255, 0.7);
}

.btn-light:hover {
  border-color: #fff;
  background-color: inherit;
  color: rgba(255, 255, 255, 1);
}

 .arrow {
  cursor: pointer;
  height: 50px;
  left: 50%;
  position: relative;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition: transform .1s;
  width: 40px;

  $transition-time: .15s;

  &-top,
  &-bottom {
    background-color: #fff;
    height: 4px;
    left: -5px;
    position: absolute;
    top: 50%;
    width: 100%;

    &:after {
      background-color: #eee;
      content: '';
      height: 100%;
      position: absolute;
      top: 0;
      transition: all $transition-time;
    }
  }

  &-top {
    transform: rotate(135deg);
    transform-origin: bottom right;

    &:after {
      left: 100%;
      right: 0;
      transition-delay: 0s;
    }
  }

  &-bottom {

    transform-origin: right bottom;
    transform: rotate(45deg);
    &:after {
      left: 0;
      right: 100%;
      transition-delay: $transition-time;
    }
  }

  &:hover & {

    &-top:after {
      left: 0;
      transition-delay: $transition-time;
    }

    &-bottom:after {
      right: 0;
      transition-delay: 0s;
    }
  }

  &:active {
    transform: translateX(-50%) translateY(-50%) scale(0.9);
  }
}

.image-box img {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width:70%;
}

table.contact-table tr td:first-child {
  padding-right: 25px;
}

table.contact-table td {
  padding: 10px 0px 0px 0px;
  vertical-align: top;
  text-align: left;
}
