---
title: Book
layout: subpage_with_header
lang: en
permalink: /book/
description: Detailed information about the Symbolic Regression book
---

<header id="book-presentation">
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-lg-2 col-md-0 col-sm-0 d-none d-md-block"></div>
            <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 align-self-center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="book-presentation-heading">
                                <h2>Symbolic Regression</h2>
                                <p>A practical guide for industry professionals and students.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <a href="https://www.routledge.com/Symbolic-Regression/Kronberger-Burlacu-Kommenda-Winkler-Affenzeller/p/book/9781138054813"
                                class="btn btn-fat btn-light">Get the book</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-0 col-sm-0 d-none d-md-block"></div>
        </div>
    </div>
    <div class="book-thumb">
        <img src="../assets/img/book_cover.jpg" alt />
    </div>
</header>
<section id="book">
    <article id="book-description" class="container text-justify">
        <div class="row">
            <div class="section-heading col-md-12 text-center">
                <h2>Highlights</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                <div class="feature">
                    <h5><i class="fa-solid fa-code fa-lg"></i>Detailed description of genetic programming for symbolic
                        regression.</h5>
                    <p>Variants of genetic programming methods, evolutionary operators: selection, crossover, mutation,
                        rules of thumb for setting hyperparameters, diversity, premature convergence ... </p>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                <div class="feature">
                    <h5><i class="fa-regular fa-copy fa-lg"></i>Describes advanced techniques in detail</h5>
                    <p>Knowledge integration and semi-analytical models, differential equations, uncertainty
                        quantification, parameter identification, ... </p>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                <div class="feature">
                    <h5><i class="fa-solid fa-fire fa-lg"></i>Model validation and selection</h5>
                    <p>Visualization techniques for validation: intersection plots, partial dependence plots...;
                        cross-validation; model selection criteria: AIC, BIC, minimum description length (MDL); pruning;
                        variable relevance</p>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                <div class="feature">
                    <h5><i class="fa-solid fa-fire fa-lg"></i>Step-by-step examples</h5>
                    <p>Includes many examples from a wide range of applications in science and engineering with results
                        and guidelines for choosing hyperparameter values.</p>
                </div>
            </div>
        </div>
    </article>
    <article id="book-abstract" class="container text-justify">
        <div class="row">
            <div class="section-heading col-md-12 text-center">
                <h2>Book Blurb</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                Symbolic regression (SR) is one of the most powerful machine learning techniques that produces
                transparent models, searching the space of mathematical expressions for a model that represents the
                relationship between the predictors and the dependent variable without the need of taking assumptions
                about the model structure. Currently, the most prevalent learning algorithms for SR are based on genetic
                programming (GP), an evolutionary algorithm inspired from the well-known principles of natural
                selection. This book is an in-depth guide to GP for SR, discussing its advanced techniques, as well as
                examples of applications in science and engineering.
                <br /><br />
                The basic idea of GP is to evolve a population of solution candidates in an iterative, generational
                manner, by repeated application of selection, crossover, mutation, and replacement, thus allowing the
                model structure, coefficients, and input variables to be searched simultaneously. Given that
                explainability and interpretability are key elements for integrating humans into the loop of learning in
                AI, increasing the capacity for data scientists to understand internal algorithmic processes and their
                resultant models has beneficial implications for the learning process as a whole.
                <br /><br />
                This book represents a practical guide for industry professionals and students across a range of
                disciplines, particularly data science, engineering, and applied mathematics. Focused on
                state-of-the-art SR methods and providing ready-to-use recipes, this book is especially appealing to
                those working with empirical or semi-analytical models in science and engineering.
            </div>
        </div>
    </article>
    <article id="book-content" class="container text-justify">
        <div class="row">
            <div class="section-heading col-md-12 text-center">
                <h2>What's the content of the book?</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ol class="toc-list">
                    {% assign book_contents = site.data.book.Contents %}
                    {% for chapter in book_contents%}
                    <li>
                        <a class="chapter">
                            <span class="toc-title">{{chapter.chapter}}</span>
                            <span class="toc-dots"></span>
                            <span class="toc-page">{{chapter.page}}</span>
                        </a>
                        <ol class="toc-sec">
                            {% for section in chapter.sections%}
                            <li>
                                <a class="toc-sec">
                                    <span class="toc-title">{{section.section}}</span>
                                    <span class="toc-dots"></span>
                                    <span class="toc-page">{{section.page}}</span>
                                </a>
                                {% if section.subsections %}
                                <ol class="toc-subsec">
                                    {% for subsection in section.subsections %}
                                    <li>
                                        <a class="toc-subsec">
                                            <span class="toc-title">{{subsection.subsection}}</span>
                                            <span class="toc-dots"></span>
                                            <span class="toc-page">{{subsection.page}}</span>
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ol>
                                {% endif %}
                            </li>
                            {% endfor %}
                        </ol>
                    </li>
                    {% endfor %}
                </ol>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-md-12">
                <a href="/assets/symbolic_regression_toc.pdf"
                    class="btn btn-fat btn-primary">Table of contents</a>
            </div>
        </div>
    </article>

    <article id="book-abstract" class="container text-justify">
        <div class="row">
            <div class="section-heading col-md-12 text-center">
                <h2>Datasets and Resources</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <p>Several datasets have been used for examples in the book. Downloads are available on the <a
                        href="/datasets/">datasets page</a>.
                </p>
            </div>
            <div class="col-6">
                <p>A list of recent software implementation and other resources can be found on the <a
                        href="/software/">software page</a>.
                </p>
            </div>
        </div>
    </article>

    <article id="book-authors" class="container text-justify">
        <div class="row">
            <div class="section-heading col-md-12 text-center">
                <h2>Authors</h2>
            </div>
        </div>
        {% for author in site.data.authors %}
        <div class="row author-card">
            <!--
            <div class="col-md-3">
                <img class="author-img img-thumbnail img-fluid mx-auto d-block" src="../assets/img/{{author.img}}"
                    alt="" />
            </div>
            -->
            <div class="col-md-6 col-sm-12">
                <h5>{{author.first_name}} {{author.last_name}}</h5>
                <p class="author-role">{{author.role}}</p>
                <p class="author-desc">{{author.desc}}</p>
                <!--<p class="author-contact"><b>Email:</b> <a href="mailto:{{author.mail}}">{{author.mail}}</a></p>-->
                <!--
                <p class="author-social">
                    <a href=""><i class="fa-brands fa-github fa-2xl"></i></a>
                    <a href=""><i class="fa-brands fa-linkedin fa-2xl"></i></a>
                    <a href=""><i class="fa-solid fa-globe fa-2xl"></i></a>
                </p>
                -->
            </div>
        </div>
        {% endfor %}
    </article>
</section>