---
title: Publications
layout: subpage
lang: en
permalink: /publications/
description: List of all publicated scientific contributions
---

<section id="publications">
   <div class="container text-justify">
      <h2>Publications</h2>
      {% assign papers = site.data.publications.papers | sort: 'year' | reverse %}
      {% for paper in papers%}
      {% assign link = paper.link | strip_newlines %}
      <div class="row">
         <div class="col-md-1 col-sm-12">
            <h6>{{ paper.year }}</h6>
         </div>
         <div class="col-md-11 col-sm-12">
            {% if link == "" %}
            <h5>{{ paper.title }}</h5>
            {% else %}
            <h5><a href="{{ link }}" alt="Link to publication" target="_blank">{{ paper.title }}</a></h5>
            {% endif %}
            {% if paper.type == "thesis" %}
            <p>{{ paper.author }} - Doctoral Thesis</p>
            {% else %}
            <p>{{ paper.authors }} - {{ paper.title }} - {{ paper.publisher }}</p>
            {% endif %}
         </div>
      </div>
      {% endfor %}
   </div>
</section>