---
layout: blog
---

{% assign author_names = page.author | replace: ' and ', ', ' | split: ',' %}

<section id="post">
   <div class="container text-justify">
      <article class="post" itemscope itemtype="https://schema.org/BlogPosting">
         {% if page.image %}
         <meta itemprop="image" content="{{ page.image | absolute_url }}">
         {% endif %}
         <header class="post-header">
            <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
            <p class="post-meta">
               {% assign m = page.date | date: "%-m" | minus: 1 %}
               <b>
               <time class="date" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ site.data.i18n.months["en"][m] }} {{ page.date | date: "%-d" }}, {{ page.date | date: "%-Y" }}</time>
               <span class="slash-separator">/</span>
               </b>
               <span class="author">
                  {% for author_name in author_names %}
                  {% assign normalized_author = author_name | strip %}
                  <span itemprop="author" itemscope itemtype="https://schema.org/Person"><span itemprop="name">{{ normalized_author }}</span></span>{% unless forloop.last %}, {% endunless %}
                  {% endfor %}
               </span>
            </p>
         </header>
         <div class="post-content" itemprop="articleBody">
            {{ content }}
          </div>
      </article>
   </div>
</section>